@charset "utf-8";
/* CSS Document */

body {
  background-image:url(../img/background-photo.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color:#EDEDED;
}

@media only screen and (max-width: 767px) {
  body {
	  background-image:url(../img/background-photo-mobile-devices.jpg);
  }
}
