@charset "utf-8";
/* CSS Document */
body {
  background: #36486e; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #36486e, #6B7996);
  background: -moz-linear-gradient(right, #36486e, #6B7996);
  background: -o-linear-gradient(right, #36486e, #6B7996);
  background: linear-gradient(to left, #36486e, #6B7996);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

.col{
  float:left;
  width:33.3%;
  padding:8px;
  padding-top:80px;
  box-sizing:border-box;
}

select, input[type="number"], input[type="text"]{
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	width:100%;
}

.price-box{
  background:#fff;
  color:#555;
  list-style-type:none;
  margin:0;
  padding:0;
  transition:0.3s;
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  border: 1px solid #555;
}

.price-box:hover, .price-box.best{
  box-shadow: 0 10px 15px 0 #000;
}

.price-box .header{
  border-radius: 20px 20px 0px 0px;
  -moz-border-radius: 20px 20px 0px 0px;
  -webkit-border-radius: 20px 20px 0px 0px;
  background-color:#36486e;
  color:#fff;
  font-size:25px;
}

.price-box li{
  padding:20px;
  border-bottom:1px solid #eee;
  text-align:center;
}

a:link{
	text-decoration:none;
}

.price-box .emph{
  background-color:#f2f2f2;
  font-ize:20px;
}

.button{
  background-color:#6B7996;
  border: none;
  color:#fff;
  padding: 10px 15px;
  text-align:center;
  border-radius:10px;
  height:100px;
  text-decoration:none;
  font-size:18px;
}

@media(max-width:700px){
  .col{
    width:100%;
  }
}

